@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.myfavoriteWrapper {
  @include responsive.after(LD) {
    width: 1200px;
    margin: 0 auto;
  }

  h2 {
    margin: 20px 5px;
    font-size: 20px;
    font-weight: 600;
  }

  .emptyList {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    line-height: 20px;
    text-align: center;
  }

  .favoriteButton {
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 10;
  }

  .favoriteListWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    justify-items: center;

    @include responsive.after(ML) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include responsive.after(LD) {
      grid-template-columns: 25% 25% 25%;
      justify-content: center;
    }

    .snackWrapper {
      position: relative;
      padding: 15px 20px;
      border: 1px solid colors.$BACKGROUND;
      border-radius: 5px;

      a {
        color: colors.$FONT;
      }

      img {
        width: 130px;
      }

      .snackName {
        width: 130px;
        margin-bottom: 2px;
        overflow: hidden;
        font-size: 16px;
        font-weight: 500;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .snackBrand {
        font-size: 14px;
        color: colors.$GRAY2;
      }
    }
  }
}
