$BLACK: #000000;
$GRAY2: #a8a8a8;
$GRAY3: #cccccc;
$GRAY5: #f5f6f8;
$GRAY6: #d7d9dc;
$WHITE: #ffffff;

$FONT: #222222;
$FONT2: #343434;
$BACKGROUND: #f6f6f6;

$YELLOW: #ffc632;
$ORANGE: #ffa800;
$BEIGE: #ffdc83;
$CARROT: #ff7134;
$SKY: #a0d7ff;
