@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.reviewPage {
  @include responsive.after(LD) {
    width: 1200px;
    margin: 0 auto;
  }

  h2 {
    margin: 20px 5px 30px;
    font-size: 20px;
    font-weight: 500;
  }

  .noReview {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

  .reviewWrapper {
    padding: 0 10px;

    .review {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
      margin-top: 5px;
      border-bottom: 1px solid colors.$GRAY6;

      .snackImgWrapper {
        align-items: center;

        img {
          grid-row: 1/2;
          grid-column: 1/3;
          width: 50px;
          height: 50px;
          margin: 15px;
        }
      }

      .nameRating {
        display: flex;
        grid-row: 1/2;
        grid-column: 2/5;
        gap: 10px;

        .name {
          font-size: 15px;
        }
      }

      .reviewContent {
        grid-row: 2/5;
        grid-column: 1/6;
        margin-bottom: 15px;
      }

      .date {
        grid-row: 5/6;
        grid-column: 1/4;
        font-size: 14px;
        color: colors.$GRAY6;
      }

      .likers {
        display: flex;
        grid-row: 5/6;
        grid-column: 5/6;
        justify-self: end;
        padding-right: 5px;
        margin-bottom: 15px;
        font-size: 15px;

        span {
          margin-right: 3px;
        }
      }

      .deleteButton {
        display: flex;
        grid-column: 5/6;
        align-items: flex-end;
        justify-content: flex-end;
        margin-right: 3px;
        color: colors.$GRAY2;
      }
    }
  }
}
